/* :root {
    --header-normal: 8.1rem;
    --header-sticky: 5.5rem;
    --logo-normal: calc(2.35rem + 2px);
    --logo-sticky: calc(2.25rem + 2px);
    --phone-offset: calc(((var(--header-normal) - var(--logo-normal))/2 + var(--logo-normal))/2);
    --gutter: 12vw;
    --gutter-s: calc(var(--gutter)*0.75);
    --gutter-xs: calc(var(--gutter)*0.5);
    --gutter-xxs: calc(var(--gutter)*0.35);
    --spacing: 6rem;
    --spacing-l: calc(var(--spacing)*1.5);
    --spacing-s: calc(var(--spacing)*0.75);
    --spacing-xs: calc(var(--spacing)*0.4);
    --spacing-xxs: calc(var(--spacing)*0.25);
} */
.welcome-container {
    /* height: 100vh; */
    width: 100%;
    position: relative;
    background-color: white;
}

.inner-welcome {
    padding-top: calc(6rem*1.5);
    padding-left: 12vw;
    padding-right: 12vw;
    position: relative;
    background-color: white;
    height: 100%;
}

.background-layout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: 100%;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    z-index: 1;
    background-image: url('https://dxaurk9yhilm4.cloudfront.net/images/287/background_imagev2_3580431e48aedf97dcedf972d1481942.jpg');
}

.introduction-container {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.introduction-subcontainer {
    position: relative;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 10%;
    grid-template-areas: "content img1" "img2 img1";
    z-index: 2;
    position: relative;
}

.second-img-container {
    margin-left: calc(12vw*0.25*-1);
    margin-right: 0;
    grid-row-start: img2;
    grid-row-end: img2;
    grid-column-start: img2;
    grid-column-end: img2;
}

.second-figure {
    padding-top: 58.5%;
    width: 90%;
    position: relative;
}

.second-figure img {
    object-fit: cover;
    background-color: #f3f3f3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.first-img-container {
    grid-row-start: img1;
    grid-row-end: img1;
    grid-column-start: img1;
    grid-column-end: img1;
}

.first-figure {
    padding-top: 130%;
    position: relative;
}

.first-figure img {
    object-fit: cover;
background-color: #f3f3f3;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.grid-text {
    max-width: 25rem;
    position: relative;
    padding-bottom: calc(6rem*0.75*1.5);
    grid-area: content;

}

.first-text-container {
    margin-bottom: 2rem;
    line-height: 1.1;
    -webkit-transform-origin: left;
    transform-origin: left;
    font-size: calc(36px + 16*(100vw - 500px)/1500);
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.welcome-first {
    /* --value-small-1: 5%;
    --value-small-2: calc(var(--value-small-1)*-1);
    --value-medium-1: 10%;
    --value-medium-2: calc(var(--value-medium-1)*-1);
    --value-big-1: 17%;
    --value-big-2: calc(var(--value-big-1)*-1); */
    white-space: nowrap;
    font-weight: 700;
}

.welcome-second {
    /* --value-small-1: 5%;
    --value-small-2: calc(var(--value-small-1)*-1);
    --value-medium-1: 10%;
    --value-medium-2: calc(var(--value-medium-1)*-1);
    --value-big-1: 17%;
    --value-big-2: calc(var(--value-big-1)*-1); */
    white-space: nowrap;
    font-size: 90%;
    font-weight: 700;
}
.detail-text-block {
    -webkit-transform-origin: left;
    transform-origin: left;
}

.common-line {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: 500;
    display: block;
    text-align: start;
    position: relative;
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
    color: #777;
    line-height: 2!important;
}