/* @import url(//db.onlinewebfonts.com/c/25fb96b64c7477f11cef759f024ec97e?family=MessinaSansWeb+SemiBold); */
html {
    margin: 0!important;
    padding: 0!important;
    overflow-x: hidden!important;
}
@import url("/dist/MessinaSansWeb-SemiBold-44d0a87eecaea3cc7b353c4ae48bc3de.woff2");
.video-container {
    height: 100vh;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow-x: hidden!important;
}
.video-container video {
   min-width: 100%;
   min-height: 100%;

}

.outer {
    display: flex;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow-x: hidden!important;
    overflow-y: hidden!important;
}

.contains {
    display: flex;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow-x: hidden!important;
    overflow-y: hidden!important;
}

.left-btn {
    width: 50%;
    display: flex;
    height: 100%;
    z-index: 100;
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
}
.right-btn {
    width: 50%;
    display: flex;
    height: 100%;
    z-index: 100;
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0
}

.right-btn:focus {
    outline: 0;
}

.left-btn:focus {
    outline: 0;
}


.awssld__controls {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex!important;
}

.awssld__next {
    width: 50%!important;
    display: flex!important;
    height: 100vh!important;
    z-index: 100!important;
    background-color: transparent!important;
    border: 0!important;
    margin: 0!important;
    padding: 0!important;
    top: 0!important;
}
.awssld__prev {
    width: 50%!important;
    display: flex!important;
    height: 100vh!important;
    z-index: 100!important;
    background-color: transparent!important;
    border: 0!important;
    margin: 0!important;
    padding: 0!important;
    top: 0!important;
}

.awssld__controls__arrow-right {
    opacity: 0!important;
}

.awssld__controls__arrow-left {
    opacity: 0!important;
}
.awssld__bullets {
    width: 93%!important;
    bottom: 5rem!important;
    z-index: 10001;
    position: absolute!important;
    justify-content: flex-end!important;
    background-color: transparent!important;
    /* right: 5rem!important; */
}

.awssld__bullets button {
    height: 5px!important;
    width: 5px!important;
    margin: 0.6rem!important;
}

.awssld__bullets--active {
    transform: scale(2)!important;
   border: 1px solid white!important;
}


.awssld__timer {
    /* display: none!important; */
    visibility: hidden!important;;
}

.scroll-down {
    
    left: 12vw;
    right: 12vw;
    bottom: 5rem!important;
    z-index: 10001;
    position: absolute!important;
    justify-content: flex-start!important;
    background-color: transparent!important;
}

.scroll-down-text {
    font-size: 1rem;
    color:hsla(0,0%,100%,.65);
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: 500;
}

.sub-container {
    left: 12vw;
    right: 12vw;
    width: 100%;
    position: absolute;
    bottom: 7rem;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.sub-title {
    width: 100%;
    display: flex;
    color: white;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
}

.main-title {
    top: 0!important;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    position: absolute;
    flex: 1;
    display: flex;
    width: 100%;
    font-size: calc(47px + 63*(100vw - 500px)/1500);
    font-weight: 600;
    color: #fff;
    line-height: 1;
    margin-left: 24vw;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Helvetica', 'Arial', sans-serif;
    /* transform: translateY(50%); */
    /* margin: 0!important; */
    z-index: 70;
    /* flex-direction: column; */

}

.second-line {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    z-index: 700;
}

.first-line {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.title-container {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.main-alpha {
    display: inline-block;
    position: relative;
    opacity: 0;
}

@keyframes titleAnimation {
    from {
        opacity: 0;
        transform: translate(0%, 105%) matrix(1,0,0,1,0,0);
    }
    to {
        opacity: 1;
        transform: translate(0%, 0%) matrix(1,0,0,1,0,0);
    }
}

#title1 {
    animation: titleAnimation 0.35s ease-out;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}
#title2 {
    animation: titleAnimation 0.35s ease-out;
    animation-delay: 0.04s;
    animation-fill-mode: forwards;
}
#title3 {
    animation: titleAnimation 0.35s ease-out;
    animation-delay: 0.08s;
    animation-fill-mode: forwards;
}
#title4 {
    animation: titleAnimation 0.35s ease-out;
    animation-delay: 0.12s;
    animation-fill-mode: forwards;
}
#title5 {
    animation: titleAnimation 0.35s ease-out;
    animation-delay: 0.16s;
    animation-fill-mode: forwards;
}
#title6 {
    animation: titleAnimation 0.35s ease-out;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}
#title7 {
    animation: titleAnimation 0.35s ease-out;
    animation-delay: 0.24s;
    animation-fill-mode: forwards;
}
#title8 {
    animation: titleAnimation 0.35s ease-out;
    animation-delay: 0.28s;
    animation-fill-mode: forwards;
}


#sub1 {
    animation: titleAnimation 0.35s ease-out;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}
#sub2 {
    animation: titleAnimation 0.35s ease-out;
    animation-delay: 0.04s;
    animation-fill-mode: forwards;
}
#sub3 {
    animation: titleAnimation 0.35s ease-out;
    animation-delay: 0.08s;
    animation-fill-mode: forwards;
}
#sub4 {
    animation: titleAnimation 0.35s ease-out;
    animation-delay: 0.12s;
    animation-fill-mode: forwards;
}
#sub5 {
    animation: titleAnimation 0.35s ease-out;
    animation-delay: 0.16s;
    animation-fill-mode: forwards;
}
#sub6 {
    animation: titleAnimation 0.35s ease-out;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}
#sub7 {
    animation: titleAnimation 0.35s ease-out;
    animation-delay: 0.24s;
    animation-fill-mode: forwards;
}
#sub8 {
    animation: titleAnimation 0.35s ease-out;
    animation-delay: 0.28s;
    animation-fill-mode: forwards;
}
#sub9 {
    animation: titleAnimation 0.35s ease-out;
    animation-delay: 0.32s;
    animation-fill-mode: forwards;
}