:root {
    --header-normal: 8.1rem;
    --header-sticky: 5.5rem;
    --logo-normal: calc(2.35rem + 2px);
    --logo-sticky: calc(2.25rem + 2px);
    --phone-offset: calc(((var(--header-normal) - var(--logo-normal))/2 + var(--logo-normal))/2);
    --gutter: 12vw;
    --gutter-s: calc(var(--gutter)*0.75);
    --gutter-xs: calc(var(--gutter)*0.5);
    --gutter-xxs: calc(var(--gutter)*0.35);
    --spacing: 6rem;
    --spacing-l: calc(var(--spacing)*1.5);
    --spacing-s: calc(var(--spacing)*0.75);
    --spacing-xs: calc(var(--spacing)*0.4);
    --spacing-xxs: calc(var(--spacing)*0.25);
}

.explore-container {
    width: 100%;
    position: relative;
    background-color: white;
}

.explore-inner {
    overflow: hidden;
    width: 100%;
    position: relative;
    background-color: white;
    padding-top: 9rem;
    padding-right: 12vw;
    padding-left: 12vw;
    /* height: 100vh; */
}

.explore-inner:before {
    content: "";
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f3f3f3;
    z-index: 0;
}

.explore-content {
    max-width: 80rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 3000;
}

.slider-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.explore-text {
    padding-bottom: 4rem;
}

.explore-text-container {
    max-width: 30rem;
    margin-bottom: 4rem;
}

.explore-h1 {
    z-index: 100;
    font-size: calc(36px + 16*(100vw - 500px)/1500);
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 2.5rem;
    padding: 0!important;
}

.explore-h1-font {
    --value-small-1: 5%;
    --value-small-2: calc(var(--value-small-1)*-1);
    --value-medium-1: 10%;
    --value-medium-2: calc(var(--value-medium-1)*-1);
    --value-big-1: 17%;
    --value-big-2: calc(var(--value-big-1)*-1);
    white-space: nowrap;
    z-index: 100;
}
.explore-h1-font2 {
    --value-small-1: 5%;
    --value-small-2: calc(var(--value-small-1)*-1);
    --value-medium-1: 10%;
    --value-medium-2: calc(var(--value-medium-1)*-1);
    --value-big-1: 17%;
    --value-big-2: calc(var(--value-big-1)*-1);
    white-space: nowrap;
    font-size: 90%;
    z-index: 100;
}

.slider-part {
    position: relative;
    width: 100%;
    /* height: 100vh; */
    overflow: unset!important;
    display: flex;
    /* flex is very important */
    white-space: nowrap;
}

.sub-p {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: 500;
    display: block;
    text-align: start;
    position: relative;
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
    color: #777;
    line-height: 2!important;
}
.hold-img {
    --size: 6rem;
    position: absolute;
    width: 6rem;
    height: auto;
    /* left: calc((8vw -6rem/2)*-1); */
    left: calc((12vw - 6rem/2)*-1);
    top: calc(50% - 6rem/2);
    padding: .1rem;
}
/* .hold-img:fullscreen {
    left: calc((8vw -6rem/2)*-1)!important;
} */
.img-container {
    height: 100%;
    width: 85%;
}
.img-style {

    object-fit: cover;
    background-color: #f3f3f3;
    position: absolute;
    top: 0!important;
    left: 0;
    width: 100%;
    height: 85%;
}
.react-multi-carousel-list {
    width: 100vw!important;
    overflow: unset!important;
}
.react-multi-carousel-item {
    width: 30vw!important;
    margin-right: 1rem!important;
}
/* .react-multiple-carousel__arrow {
    min-height: 40px!important;
    min-width: 40px!important;
} */
.react-multiple-carousel__arrow::before {
    color: black!important;
}
.react-multiple-carousel__arrow--left {
    bottom: 0!important;
    left: 0!important;
    background-color: transparent!important;
}

.react-multiple-carousel__arrow--left::before {
    content: url("../../left.svg")!important;
}
.react-multiple-carousel__arrow--right {
    bottom: 0!important;
    left: calc(4% + 1px)!important;
    background-color: transparent!important;
}
.react-multiple-carousel__arrow--right::before {
    content: url("../../right.svg")!important;
}

.react-multiple-carousel__arrow--right:focus {
    outline: 0!important;
}
.react-multiple-carousel__arrow--left:focus {
    outline: 0!important;
}

.progress-bar {
    position: absolute;
    width: 90%;
    bottom: 25px;
    height: 0.1rem;
    left: calc(4% + 44px + 2rem);
    background-color: transparent;
    background-color: #ccc;
    backface-visibility: hidden;
}

.actual-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #111;
    transform-origin: left;
    transition: 0.5s ease-in;
}

.img-content-container {
    position: absolute;
    bottom: 3.5rem;
    width: 100%;
    padding: 2.5rem 3rem;
    left: 0;
    /* height: 50%; */
    z-index: 100;
}

.slide-title {
    margin-bottom: 1rem;
    white-space: normal;
    color: white!important;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: 600;  
}
.slide-text {
    white-space: normal;
    color: hsla(0,0%,100%,.75)!important;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: 600;
}
.img-container::before {
    position: absolute;
    top: 0;
    width: 100%;
    height: 85%;
    content: "";
    background-color: rgba(17,17,17,.35);
    z-index: 1;
}