footer {
    position: relative;
    background-color: #161f1e;
    padding-left: 10vw;;
    padding-right: 10vw;
}

.footer-container {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.footer-contact {
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 7.5rem;
    padding-bottom: 4rem;
    flex-direction: row;
    display: flex!important;
}

.footer-icon {
    color: hsla(0,0%,100%,.75);
    display: flex;
    height: 100%;

}


.footer-icon svg {
    width: auto;
    height: calc(2.7rem + 2.4px);
    height: calc((2.25rem + 2px)*1.2);
}

.footer-info-container {
    display: flex;
    color: white;
    height: 100%;
}

.left-block {
    padding-right: 9rem;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.right-block {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.footer-title {
    font-weight: 600;
    font-size: calc(18px + 6*(100vw - 500px)/1500);
    line-height: 1.2;
    margin-bottom: 1.5rem;
}

.footer-subtitle {
    color: hsla(0,0%,100%,.75);
    margin-bottom: .35rem;
    line-height: 2;
    text-decoration: none;
}

.copyright-container {
    width: 100%;
    text-align: left;
    color: hsla(0,0%,100%,.75);
    padding-bottom: 4.5rem;
    color: hsla(0,0%,100%,.75);
    opacity: 0.75;
    font-size: 0.75rem;
    line-height: 2;
}

@keyframes showup {
    from {
        opacity: 0;
    } 
    to {
        opacity: 1;
    }
}