
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url("/dist/MessinaSansWeb-SemiBold-44d0a87eecaea3cc7b353c4ae48bc3de.woff2");
@import url(//db.onlinewebfonts.com/c/0f9edc48b0786b8cc3f793fbd6ed4e62?family=MessinaSansWeb+Black);
:root {
    --header-normal: 8.1rem;
    --header-sticky: 5.5rem;
    --logo-normal: calc(2.35rem + 2px);
    --logo-sticky: calc(2.25rem + 2px);
    --phone-offset: calc(((var(--header-normal) - var(--logo-normal))/2 + var(--logo-normal))/2);
    --gutter: 8vw;
    --gutter-s: calc(var(--gutter)*0.75);
    --gutter-xs: calc(var(--gutter)*0.5);
    --gutter-xxs: calc(var(--gutter)*0.35);
    --spacing: 6rem;
    --spacing-l: calc(var(--spacing)*1.5);
    --spacing-s: calc(var(--spacing)*0.75);
    --spacing-xs: calc(var(--spacing)*0.4);
    --spacing-xxs: calc(var(--spacing)*0.25);
}

body {
    -webkit-text-size-adjust: none;
    font-family: 'Helvetica', 'Arial', sans-serif;
}
.navbar {
    padding-top: 0!important;
    padding-bottom: 0!important;
    padding: 0!important;
}
.addition {
    display: absolute!important;
    top: 0;
    left: 0;
    right: 0;
    height: 15vh!important;
    width: 100%;
    justify-content: space-around!important;
    align-items: center;
    background-color: transparent!important;
    z-index: 10000!important;
}

.navbar-nav li {
    display: inline;
}
.navbar-brand {
    padding-top: 1px;
    padding-bottom: 1px;
    position: relative!important;
    display: block!important;
    z-index: 1000;

}



.cls-1 {
    fill-rule: evenodd;
    fill: white;
}
.cls-2 {
    fill: white;
}

.navbar-collapse {
    z-index: 10000;
    flex-grow: 0;
}

.nav-link {
    text-decoration: none;
    line-height: 1.5;
    color: white;
    list-style: none;
    font-size: 1rem!important;
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.nav-link:hover {
    color: white!important;
}

.burger-btn {
    z-index: 100000;
}

.under {
    display: inline-block;
  }
  
  .under:after {
    content: '';
    width: 0;
    height: 1px;
    display: block;
    background: white;
    transition: 300ms;
  }
  
  .under:hover:after {
    width: 100%;
  }

  #hidden-btn {
      display: none;
  }

  @media only screen and (max-width: 1000px){
    #navbarSupportedContent {
        display: none;
    
    }
    #hidden-btn {
        display: flex!important;
    }
}


